<div class="col-xs-4" style="margin-top:80px">

</div>
<div class="col-xs-4" style="margin-top:80px">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @todo.title %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @todo.notes %>
  </p>

  <%= link_to 'Edit', edit_todo_path(@todo) %> |
  <%= link_to 'Back', todos_path %>
</div>
